################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ASMv2/v14/.suo
/ASMv2/x64
/ASMv2/Release
/Release
/x64
/ASMv2.VC.VC.opendb
/ASMv2.VC.db
/ASMv2.v14.suo
/ASMv2.sdf
